@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.h1 {
  font-size: 46px;
  font-weight: bold;
}

.h2 {
  font-size: 37px;
  font-weight: bold;
}

.h3 {
  font-size: 29px;
  font-weight: bold;
}

.h4 {
  font-size: 23px;
  font-weight: bold;
}

.h5 {
  font-size: 19px;
  font-weight: bold;
}

.h6 {
  font-size: 16px;
  font-weight: bold;
}

.body-large {
  font-size: 16px;
}

.body-large-bold {
  font-size: 16px;
  font-weight: bold;
}

.body-medium {
  font-size: 14px;
}

.body-medium-bold {
  font-size: 14px;
  font-weight: bold;
}

.body-small {
  font-size: 12px;
}

.body-small-bold {
  font-size: 12px;
  font-weight: bold;
}

.button-light {
  padding: 10px 40px;
  background-color: white;
  color: #0e0e0e;
  transition: all 0.3s ease;
  border-radius: 8px;
  outline: 0;
  cursor: pointer;
}

.button-light:hover {
  background-color: #e31837;
  color: white;
}

.button-dark {
  padding: 10px 40px;
  background-color: #0e0e0e;
  color: white;
  transition: all 0.3s ease;
  border-radius: 8px;
  outline: 0;
  cursor: pointer;
}

.button-dark:hover {
  background-color: #e31837;
  color: white;
}

.about-main-section {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.3)
    ),
    url("/assets/about2.jpeg");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  background-position: bottom center;
}

.about-section-img {
  background-image: url("/assets/about1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
}

.about-section-whole-selling {
  background-image: url("/assets/company4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
}

.about-section-retail {
  background-image: url("/assets/whole-selling.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
}

.about-section-corperate {
  background-image: url("/assets/company3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
}

.about-section-future-tech {
  background-image: url("/assets/future-tech.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  width: 100%;
  height: 500px;
}

.about {
  background-image: url("/assets/about-img.jpg");
}

.whatsapp-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 50;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #1ebe5d;
}

.custom-slider .swiper-slide {
  transform: scale(0.9); /* Reduce size for perspective */
  transition: transform 0.3s ease-in-out;
}

.custom-slider .swiper-slide-active {
  transform: scale(1); /* Highlight the active slide */
}

.custom-slider .swiper-slide {
  z-index: 1;
}

.custom-slider .swiper-slide-active {
  z-index: 2; /* Bring the active slide to the front */
}

.custom-slider .swiper-wrapper {
  align-items: center; /* Center slides vertically */
}
